#### Database Connection

In [1]:
from sqlalchemy import create_engine
from langchain_community.utilities import SQLDatabase

DATABASE_URL = "postgresql://postgres:ahmednabil@localhost:5432/ecommerce_task"
engine = create_engine(DATABASE_URL)

db = SQLDatabase(engine)

#### Model Definition

In [2]:
from langchain.chat_models import init_chat_model
llm = init_chat_model("qwen2.5:7b-instruct-q6_K", model_provider="ollama")

In [3]:
# response = llm.invoke(input=[{"role": "user", "content": "What is Retrieval-Augmented Generation (RAG) in 300 chars?"}])
# print(response.content)

#### SQL Toolkit

In [4]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit
toolkit = SQLDatabaseToolkit(db=db, llm=llm)
tools = toolkit.get_tools()

In [5]:
tools

[QuerySQLDatabaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001ECF0F98620>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001ECF0F98620>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001ECF0F98620>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001ECF0F98620>, llm=ChatOllama(model='qwen2.5:7b-instruct-q6_K'), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatOllama(model='qwen2.5:7b-instruct-q6_K'), output_parser=StrOutputParser(), llm_kwargs={}))]

#### VecDB & RAG

In [17]:
import ast
import re

def query_as_list(db, query):
    res = db.run(query)
    res = [el for sub in ast.literal_eval(res) for el in sub if el]
    res = [re.sub(r"\b\d+\b", "", string).strip() for string in res]
    return list(set(res))

users = query_as_list(db, "SELECT name FROM users")
products = query_as_list(db, "SELECT name FROM products")

In [18]:
from langchain_huggingface import HuggingFaceEmbeddings
from langchain_core.vectorstores import InMemoryVectorStore

embeddings = HuggingFaceEmbeddings(model_name="intfloat/multilingual-e5-large")
vector_store = InMemoryVectorStore(embeddings)

In [19]:
from langchain.agents.agent_toolkits import create_retriever_tool

_ = vector_store.add_texts(users + products)
retriever = vector_store.as_retriever(search_kwargs={"k": 1})
description = (
    "Use to search for proper nouns (persons and products) to filter on. Input is an approximate spelling of the proper noun, output is valid proper nouns."
    "Use the most similar result to the search."
)
retriever_tool = create_retriever_tool(
    retriever,
    name="search_proper_nouns",
    description=description,
)

tools.append(retriever_tool)

In [20]:
print(retriever_tool.invoke("jon waler"))

John Waller

#### System Prompt

In [21]:
from langchain import hub
prompt_template = hub.pull("langchain-ai/sql-agent-system-prompt")

assert len(prompt_template.messages) == 1
# prompt_template.messages[0].pretty_print()
system_message = prompt_template.format(dialect="PostgreSQL", top_k=5)

c:\Users\ahmed_3hijq3m\AppData\Local\Programs\Python\Python312\Lib\site-packages\langsmith\client.py:354: LangSmithMissingAPIKeyWarning: API key must be provided when using hosted LangSmith API
  warnings.warn(

In [22]:
suffix = (
    "**NEVER** use or assume the given proper name (a Person Name, or a Product Name), You MUST ALWAYS use the 'search_proper_nouns' tool to search the right proper spelling."
    "**For People Names**, you **MUST** use the top proper noun from the 'search_proper_nouns' tool.\n\n"
    "**Always use tools to get data any info the database**"
)
system = f"{system_message}\n\n{suffix}"

#### Agent Setup

In [23]:
from langgraph.prebuilt import create_react_agent
agent_executor = create_react_agent(llm, tools, prompt=system)

In [24]:
# Agent Testing
question = "Did michael danils buy a finaly product?"

for step in agent_executor.stream({"messages": [{"role": "user", "content": question}]}, stream_mode="values",):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

Did michael danils buy a finaly product?
================================== Ai Message ==================================
Tool Calls:
  search_proper_nouns (8732711c-2996-4317-9b18-1c51ec97eb14)
 Call ID: 8732711c-2996-4317-9b18-1c51ec97eb14
  Args:
    query: michael danils
================================= Tool Message =================================
Name: search_proper_nouns

Micheal Daniels
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (ffde3066-6653-413a-9c3f-3257b536bd63)
 Call ID: ffde3066-6653-413a-9c3f-3257b536bd63
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

orders, payments, products, reviews, users
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (72b7fbaf-c6be-46ea-acb2-c523514b5826)
 Call ID: 72b7fbaf-c6be-46ea-acb2-c523514b5826
  Args:
    table_names: users, orders
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE orders (
	id SERIAL NOT NULL,
	user_id INTEGER NOT NULL,
	product_id INTEGER NOT NULL,
	quantity INTEGER NOT NULL,
	total_price NUMERIC(10, 2) NOT NULL,
	order_date TIMESTAMP WITHOUT TIME ZONE,
	CONSTRAINT orders_pkey PRIMARY KEY (id),
	CONSTRAINT fk_orders_product FOREIGN KEY(product_id) REFERENCES products (id) ON DELETE CASCADE,
	CONSTRAINT fk_orders_user FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE,
	CONSTRAINT orders_product_id_fkey FOREIGN KEY(product_id) REFERENCES products (id) ON DELETE CASCADE,
	CONSTRAINT orders_user_id_fkey FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
)

/*
3 rows from orders table:
id	user_id	product_id	quantity	total_price	order_date
1	176	316	4	600.17	2025-01-10 21:21:34
2	650	241	4	639.24	2025-03-03 16:20:41
3	704	982	1	731.18	2025-01-14 11:55:13
*/


CREATE TABLE users (
	id SERIAL NOT NULL,
	name VARCHAR(100) NOT NULL,
	email VARCHAR(100) NOT NULL,
	phone_number VARCHAR(30) NOT NULL,
	created_at TIMESTAMP WITHOUT TIME ZONE,
	CONSTRAINT users_pkey PRIMARY KEY (id),
	CONSTRAINT users_email_key UNIQUE (email)
)

/*
3 rows from users table:
id	name	email	phone_number	created_at
1	Samuel Marshall	Joshua1162_maureen89@example.net	001-726-609-3187x8806	2025-03-21 21:33:31.012581
2	Margaret Abbott	Lindsay3393_qjohnson@example.com	603-763-9190x8852	2025-03-21 21:33:31.012581
3	Denise Morgan	Sarah3460_johnsonadriana@example.net	908-620-5946	2025-03-21 21:33:31.012581
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (76286f3f-ac74-4ca2-87d4-6d98c8a0686a)
 Call ID: 76286f3f-ac74-4ca2-87d4-6d98c8a0686a
  Args:
    query: SELECT * FROM users WHERE name = 'Micheal Daniels' LIMIT 5
================================= Tool Message =================================
Name: sql_db_query_checker

The provided PostgreSQL query does not contain any of the common mistakes listed:

```sql
SELECT * FROM users WHERE name = 'Micheal Daniels' LIMIT 5;
```

This query is correct and should work as intended. There are no issues with NOT IN and NULL values, UNION vs UNION ALL, BETWEEN for exclusive ranges, data type mismatches, quoting of identifiers, function arguments, casting, or joins.

Output:

```sql
SELECT * FROM users WHERE name = 'Micheal Daniels' LIMIT 5;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (8ddaab6d-6928-4027-90de-bad112b7131a)
 Call ID: 8ddaab6d-6928-4027-90de-bad112b7131a
  Args:
    query: SELECT * FROM users WHERE name = 'Micheal Daniels' LIMIT 5
================================= Tool Message =================================
Name: sql_db_query

[(273, 'Micheal Daniels', 'Timothy8901_brandon64@example.com', '849-677-2499x3505', datetime.datetime(2025, 3, 21, 21, 33, 31, 12581))]
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (00e2b59f-c2bb-450b-b13a-6a1a44255c4e)
 Call ID: 00e2b59f-c2bb-450b-b13a-6a1a44255c4e
  Args:
    query: SELECT orders.user_id, products.name AS product_name FROM orders JOIN products ON orders.product_id = products.id WHERE orders.user_id IN (273) LIMIT 5
================================= Tool Message =================================
Name: sql_db_query

[(273, 'Finally')]
================================== Ai Message ==================================

Yes, Micheal Daniels bought a "Finally" product. Here is the relevant data:

- User: Micheal Daniels
- Product: Finally

The purchase was made by user ID 273, who purchased the "Finally" product.